extends layout

block dependencies
  // Load the JavaScript files for all active libraries
  if activeLibraries
    each activeLibrary in activeLibraries
      if activeLibrary
        script(src=activeLibrary.latest)
  
block content
  h1
    | #{title}: 
    small Your box

  h2 Included libraries
  // List of active libraries
  p The following libraries are currently incuded on this page.
  p To experiment with them, simply open your web console and hack away.
  if activeLibraries
    ul: each activeLibrary in activeLibraries
      if activeLibrary
        li: a(href=activeLibrary.latest)= activeLibrary.name

  a.pure-button.pure-button-primary(href='/' + queryString) Fork this box
  | 
  a.pure-button.pure-button-primary(href='/') Create a new box
