extends layout

block content
  h1= title
  p.
    A simple tool for experimenting with JS libraries in your web console.
  p.
    Development versions of jQuery and Underscore are included in this page,
    with no other JavaScript files. To use your web console with these
    libraries, simply open it up on this page and hack away.

  footer
    &copy; 2013 
    a(href='http://thenickperson.com/') Nicolas McCurdy

  h2 Current library
  if scriptUrl
    a(href=scriptUrl)= scriptUrl
  else
    p none

  h2 All libraries
  form
    select(name='scriptUrl')
      each package in libraryUrls
        option(value=package.url)= package.name
    input(type='submit', value='Load')

  script(src=scriptUrl)
