extends layout

block dependencies
  // Styles
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.min.css')

  // Scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js')
  script(src='/javascripts/script.js')

block content
  // App information
  h1= title
  p A simple tool for experimenting with JS libraries in your web console.

  footer
    | &copy; 2014 
    a(href='http://thenickperson.com/') Nicolas McCurdy

  // List of all known libraries
  h2 Create a new box
  p.
    You may use the field below to pick JavaScript libraries to experiment with
    in your new box.
  form(action='/box')
    select.chosen-select(name='libraries', multiple)
      each library in libraries
        option(value=library.name, selected=isActiveLibrary(library, activeLibraries))= library.name
    input.pure-button.pure-button-primary(type='submit', value='Create a box with these libraries')
