<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
  <!-- basic info -->
  <title>JS Box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css -->
  <link rel="stylesheet" href="styles.css">
  <!-- icons -->
  <link rel="icon" href="favicon.ico">
</head>

<body>

  <h1>JS Box</h1>

</body>
</html>
