<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
  <!-- basic info -->
  <title>JS Box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- icons -->
  <!--<link rel="icon" href="favicon.png">-->
</head>

<body>

  <!-- content -->
  <h1>JS Box</h1>

  <!-- footer -->
  <footer>&copy; 2013 Nicolas McCurdy</footer>

  <!-- scripts -->
  <% library_urls.each do |url| %>
    <script src="<%= url %>"></script>
  <% end %>

</body>
</html>
