doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/png', href='js.png')

    // Styles
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Page specific dependencies

    block dependencies

  body
    .container: block content
